// -------------------------------------
//   Typography
// -------------------------------------
// ----- Global typography classes
// -------------------------------------

// font-family: 'gotham_condensedbold';
// font-family: 'gotham_condensedmedium';
// font-family: 'gotham_condensed_lightregular';

h1, h2, h3, h4, a {
	font-family: 'PT Serif', serif;
	font-weight: bold; 
}

h5, h6, p, li {
	font-family: 'PT Serif', serif;
	font-weight: normal;
}